p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;

    font-size: 40px;
}

.tooltip {
    position: relative;
    transition: 250ms;

    font-size: italic;
    cursor: pointer;
}

.tooltip:hover {
<<<<<<< HEAD
    color: #77d4ff;
=======
    color: #77fff4;
>>>>>>> c7ff5a6... Change tooltip word hover color
}

.tooltip .tooltip-content {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-50%) translateY(-80%);
}

.tooltip:hover .tooltip-content {
    opacity: 1;
    transform: translateX(-50%) translateY(-100%);
}

.tooltip-content {
    position: absolute;
    left: 50%;
    top: -70%;
    transform: translateX(-50%) translateY(-100%);
    font-size: 25px;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    padding: 10px 15px;
    width: 180px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2),
     rgba(255, 255, 255, 0.2)),
    linear-gradient(114.91deg, #3a7bd5 0%, #005d8b 100%);

    border-radius: 4px;
    transition: 250ms ease;
}

.tooltip-content:hover {
    color: #ffffff;
}